<div id="background">
    <h1>Welcome in multiplayer Pacman Game</h1>
    <br>
    <br>
    <br>
    <h2>Set nickname and click 'START'</h2>
    <input [(ngModel)]="nickname">
    <button (click)="startGame(nickname)" [disabled]="!nickname || nickname=='NO_ONE' || (nickname.length>10 || nickname.length<2)">Start</button>

    <br><br><br><br>
    <h4 *ngIf="answer">You can't start game because other player has the same nickname: {{answer}}</h4>

<!--    <div id="description">-->
<!--        <h3>Description</h3>-->
<!--    </div>-->

</div>
